<div class="container mb-3">
  <div class="col">
    <h1>{{titulo}}</h1>
  </div>
  <hr>

  <!--Con event biding recibimos el método personaCreada y
    lo asignamos a un método propio de este componente-->
  <app-formulario (personaCreada)="personaAgregada($event)"></app-formulario>

  <hr>
</div>

<!--Usamos property binding para pasar las variables de personaElemento e indice al componente hijo-->
<app-persona *ngFor="let personaElemento of personas; let indice = index"
 [persona] = "personaElemento" [i] = "indice">
</app-persona>